#bigP {
    border-bottom: 1px solid;
    background-color: rgb(255, 65, 65);
    font-size: x-large;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding-top: 5px;
    color: rgb(255, 210, 210);
}

p {
    border: 1px solid;
    margin: 5px;
    background-color: rgb(255, 173, 173);
}

#lastP {
    border-bottom-left-radius: 25px;  
    border-bottom-right-radius: 25px;  
}